# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

## A brief Note about this Course

#### Objectives:

- Markdown cells using Unorded lists
- Simple arithmatic expressions
- Most popular Data Science Tools
- Popularly used open source Datascience platforms
- Data Science Libraries

##### Some of the popular languages that Data Scientists use are:

 1. Python
 2. SQL
 3. Javascript

##### Some of the commonly used libraries used by Data Scientists include:

 1. Pandas
 2. numpy
 3. scikit-learn

#### Data Science Tools
|Data Science Tool|
|-----------------|
|Rstudio|
|Jupyter Notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply, then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Sangeetha H